body{
	font-family:Cabin;
    background:grey;
	height:100vh;
	display:grid;
	grid-template-areas:
	"nav"
	"header "
	"article"
}

h1,h3,h2 {
  color:grey;
  padding:25px;
  text-align: center;
  background-color:pink;
}
p{
 color:pink;
 padding:5px;
}
nav{
	float:right;
}
nav,li,a{
    text-decoration: none;
    padding:4px;
    color:grey;
}

nav,li, a:visited{
    color:pink;
}
*/
nav,li,a:hover{
    color:pink;
}

/*
ul{
	margin-left:70%;
	margin-right:5%;
}
*/
ul ,li{
	display:inline-block;
	list-style-type:none;
	text-align:left;
	color:pink;

}

.header,article,nav,div{
	padding:2.5em;

}

