body {
  margin: 0;
}
* {
  box-sizing: border-box;
}

body{
	background-color: grey;
		
}

h1,h3,h2 {
  color:grey;
  padding:25px;
  text-align: center;
  background-color:pink;
}
p{
 color:pink;
 padding:5px;
}

nav,li,a{
   
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
}

nav,li, a:visited{
    color:pink;
}

nav,li,a:hover{
    color:pink;
}

.header,nav,div{
	padding:2.5em;

}

.footer{
	grid-area:footer;
	color:grey;
	text-align:center;
}